.image{
    height: 130px;
    width: 160px;
    margin-left: 63px;
    margin-top: 5px;
}

body{
    border: 2px solid black;
}
main{
    border: 2px solid #6f6d6d;
    width: 357px;
    background-color: #f7f5f5 ;
    height: 717px;
    margin: 5px
}
p{
    text-align: center;
    font-family: system-ui;
}

li{
    list-style: none;
    margin: 16px;
    color: blue;
    font-family: sans-serif;
}
.fistiteam{
    margin-top: 1px;
}
.seconditeam{
    margin-top: 50px;
}
.listiteam02{
    color: black;
    margin: 17px;
}
.section01{
    float: left;
}
.section02{
    clear: right;
}

#fistitam{
    margin: 10px;
}
br{
    margin-top: 5px;
}